.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 250px;
  height: 120px;
  top: 70px;
  right: 20px;
  z-index: 100;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 60px 4px rgba(0, 0, 0, 0.15);
}

.content {
  display: flex;
  flex-direction: column;
}
