.container {
  display: flex;
  padding: 20px 34px 20px 36px;
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  width: 144px;
  height: 23px;
  font-family: Urbanist;
  font-size: 18px;
  padding-left: 10px;
}

.profile {
  position: relative;
  margin-left: auto;
}

.modal__title {
  width: 64px;
  height: 16px;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 20px;
  margin-right: auto;
}
